<div class="profile-main">
  <div class="profile-card">
    <% if @profile.user.avatar.nil? %>
      <%= image_tag "https://avatars2.githubusercontent.com/u/34108893?v=4", class: 'avatar' %>
    <% else %>
      <%= image_tag @profile.user.avatar, class: 'avatar'%>
    <% end %>
    <h4 class='profile-name'><%= @profile.user.name %></h4>
    <p class='profile-username'><%= @profile.user.login %></p>
    <% if current_user.uid == @profile.user.uid %>
      <% if @profile.user.bio.nil? %>
        <%= button_to 'Add Bio', '/', class: 'bio-button'%>
      <% else %>
        <%= @profile.user.bio %>
      <% end %>
    <% else %>
      <%= link_to 'Follow', '/' %>
    <% end %>
  </div>
  <main class='profile-body'>
    <div class="profile-links">
      <div class="linko ">
        <%= link_to 'Overview', "/#{@profile.user.login}" %>
      </div>
      <div class="link">
        <%= link_to 'Repositories', "/#{@profile.user.login}?tab=repositories" %>
        <div class="counter">
          <%= @profile.user.public_repos %>
        </div>
      </div>
      <div class="link">
        <%= link_to 'Stars', "/#{@profile.user.login}?tab=stars" %>
        <div class="counter">
          <%= @profile.star_count %>
        </div>
      </div>
      <div class="link">
        <%= link_to 'Followers', "/#{@profile.user.login}?tab=followers" %>
        <div class="counter">
          <%= @profile.user.followers %>
        </div>
      </div>
      <div class="link">
        <%= link_to 'Following', "/#{@profile.user.login}?tab=following" %>
        <div class='counter'>
          <%= @profile.user.following %>
        </div>
      </div>
    </div>
    <section>
      <% case params[:tab] %>
      <% when 'repositories' %>
        <%= render partial: '/users/repositories_tab' %>
      <% when 'stars' %>
        <%= render partial: '/users/starred_tab' %>
      <% when 'followers' %>
        <%= render partial: '/users/followers_tab' %>
      <% when 'following' %>
        <%= render partial: '/users/following_tab' %>
      <% else %>
        <%= render partial: '/users/overview_tab' %>
      <% end %>
    </section>
  </main>
</div>
