<nav>
  <div class="main-menu">
    <div class="logo">
      <%= link_to image_tag('GitHub-Mark-Light-32px.png'), root_path %>
    </div>
    <%= form_tag('/', :method => "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search GitHub', class: 'search logged-in' %>
    <% end %>
    <div class="menu-links main-links">
      <%= link_to 'Pull requests', '/', class: 'main-link' %>
      <%= link_to 'Issues', '/', class: 'main-link' %>
      <%= link_to 'Marketplace', '/', class: 'main-link' %>
      <%= link_to 'Explore', '/', class: 'main-link' %>
    </div>
  </div>
  <div class="sign-ins">
    <%= link_to image_tag('bell.svg'), github_login_path, class: 'notification-bell' %>
    <%= link_to image_tag('plus.svg'), github_login_path, class: 'plus-dropdown' %>
    <div class="profile-dropdown">
      <% if current_user.avatar.nil? %>
        <%= image_tag "https://avatars2.githubusercontent.com/u/34108893?v=4", class: 'avatar-icon' %>
      <% else %>
        <%= image_tag current_user.avatar, class: 'avatar-icon' %>
      <% end %>
        <div class="dropdown-menu">
          <ul class="dropdown-links">
            <h4>Signed in as</h4>
            <p><%= current_user.username %></p>
            <div class="divider"></div>
            <li><%= link_to 'Your profile', "/#{current_user.username}" %></li>
            <li>Your stars</li>
            <li>Your gists</li>
            <div class="divider"></div>
            <li>Help</li>
            <li>Settings</li>
            <li><%= link_to 'Sign out', logout_path, method: :delete %></li>
          </ul>
        </div>
    </div>
  </div>
</nav>
